


    <h1>Order Details</h1>
    <p>Simple HTML parahraph, view displaying order details.</p>


        <p>Order ID: @Model.Id</p>
        <p>Name and Surname: @Model.NameSurname</p>
        <p>Total Price: @Model.TotalPrice</p>
